<div class="about-container section-margin">
  <div class="about-text">
    <h1>spine care</h1>
    <p>
      Dr. Hany Abdel-Gawad Suleiman is one of the most prominent spine surgeons
      in Egypt and worldwide, specializing in spine surgery for both children
      and adults. His interest in this field began in 2004 during his orthopedic
      residency at Al-Azhar University, where he worked in the spine unit for
      three years, aspiring to become one of the best spine surgeons globally.
      After years of hard work, his dream came true. He earned his master's
      degree and then traveled to the United States, where he completed a spine
      surgery fellowship at Cleveland University in 2007.Dr. Hany Abdel Gawwad
      then worked in the spine surgery unit at Nasser Institute, then obtained
      another spine fellowship for a year from Montreal University in Canada in
      2009.After his return from Canada, Dr. Hany Abdel Gawwad worked in the
      spine surgery unit at the Orthopedic Department of Al-Azhar University,
      where he devoted himself to spine surgery and completed his doctoral
      thesis on correction of post-traumatic kyphosis.Dr. Hany Abdel Gawwad
      obtained a doctorate in Orthopedic surgery and was appointed a member of
      the board of the Faculty of Medicine, Al-Azhar University, and a
      consultant of spine surgery at the university In 2013, Dr. Hany Abdel
      Gawwad received a unique competitive grant from the University of
      Montreal, Canada, and was selected for a fellowship in spine surgery to
      train in the latest techniques of pediatric and adult spine surgery at one
      of the most advanced spine centers in the world. During the first year of
      the fellowship, it was renewed for two years
    </p>
  </div>
  <div class="doctor-reviews">
    <img src="Doctors/Doctor_2.svg" alt="" />
    <div class="reviews">
      <div class="customers">
        <img src="clients/customers_frame.svg" alt="" />
      </div>
      <div class="numbers-content">
        <div class="numbers">
          <span>20</span>
          <p>years experience</p>
        </div>
        <div class="numbers">
          <span>830 +</span>
          <p>positive reviews</p>
        </div>
      </div>
    </div>
  </div>
</div>
