<div class="container">
  <nav>
    <a class="nav-logo" routerLink="home">
      <img src="Logos/logo.svg" alt="" />
    </a>
    <div class="category">
      <ul>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li>
          <a routerLink="reservation" routerLinkActive="active">Reservation</a>
        </li>
        <li>
          <a routerLink="contact" routerLinkActive="active">Contact us</a>
        </li>
        <li>
          <a routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
    @if(user()) {
        <div class="flex-row justify-center" (click)="menu.toggle($event)">
          <p class="m-2">{{user()!.name}}</p>
          <p-avatar icon="pi pi-user" class="flex justify-center p-4" size="large" shape="circle"  />
        </div>

    } @else {
      <div class="register-btn">
        <a routerLink="signup">Sign in \ create an account</a>
      </div>
    }

  </nav>
</div>
<p-menu #menu [model]="items" [popup]="true"/>

