<div class="main-section section-margin">
  <div class="top-content">
    <div class="content">
      <h1>
        Spinal Health <br />
        Care
      </h1>
      <p>
        We offer X-ray services, doctor appointments, and comprehensive care for
        spinal deformities
      </p>
      <a class="cta-button" routerLink="/check"> let's check</a>
    </div>
    <div class="doctor-section">
      <img src="Doctors/Object.svg" alt="" />
    </div>
  </div>

  <div class="bottom-bar section-margin">
    <a routerLink="/reservation">
      <img src="Icons/calendar.svg" alt="" />
      <span>Check Available</span>
    </a>
    <div class="city-area">
      <div class="city gap-between">
        <img src="Icons/city.svg" alt="" />
        <span>city</span>
        <button><img src="Icons/arrow.svg" alt="" /></button>
      </div>
      <div class="area gap-between">
        <img src="Icons/area.svg" alt="" />
        <span>Area</span>
        <button><img src="Icons/arrow.svg" alt="" /></button>
      </div>
    </div>
    <a routerLink="/reservation" class="res-btn">reservation</a>
  </div>
</div>

<section class="activities-section section-margin">
  <h2 class="center-title">Our activities</h2>
  <div class="activities-container">
    <div class="activities-content">
      <img src="Icons/circle-online.svg" alt="" />
      <div class="text-content">
        <span>Online Appoinment</span>
        <p>
          The gradual accumulation of information about atomic and small-scale
          behaviour...
        </p>
      </div>
    </div>
    <div class="activities-content">
      <img src="Icons/circle-emergency.svg" alt="" />
      <div class="text-content">
        <span>Emergency Case</span>
        <p>
          The gradual accumulation of information about atomic and small-scale
          behaviour...
        </p>
      </div>
    </div>
    <div class="activities-content">
      <img src="Icons/circle-spine.svg" alt="" />
      <div class="text-content">
        <span>Spine Care</span>
        <p>
          The gradual accumulation of information about atomic and small-scale
          behaviour...
        </p>
      </div>
    </div>
  </div>
</section>

<section class="healnet-section section-margin">
  <h3>HealNet's Story: <span>Get to know us</span></h3>
  <div class="healnet-container">
    <div class="HealNet-content">
      <p>
        HealNet is more than just an online medical service; it's a movement
        towards accessible, efficient, and compassionate healthcare for all.
        Founded by a team of visionary doctors, healthcare professionals, and
        technology experts, we are driven by the mission to deliver exceptional
        medical care directly to you, no matter where you are. Our platform is
        built on the pillars of trust, innovation, and patient-centricity,
        ensuring that every interaction is personalized and every treatment plan
        is tailored to your unique needs. With a network of licensed
        practitioners from diverse medical fields, we guarantee comprehensive
        care that's just a click away.
      </p>
      <a routerLink="/about">learn more</a>
    </div>
    <img src="Doctors/Visual.svg" alt="" />
  </div>
</section>

<section class="upload-section section-margin" id="upload">
  <div class="container">
    <h2>
      Upload Your X-ray Spine
        <br />
      Image to Diagnose
    </h2>
    <p>
      We offer X-ray services, doctor appointments, and comprehensive care
      <br />
      for spinal deformities
    </p>
    <a routerLink="/check" class="upload-btn">Upload here</a>
  </div>
</section>

<section class="appointments-section section-margin" id="contact">
  <div class="container">
    <h1>
      Easy <span>same</span> or Next - day <br />
      Appointments
    </h1>
    <p>
      Easily make appointment with our best doctor for <br />
      your families in same day or <br />
      the next day.
    </p>

    <div class="buttons-container">
      <a routerLink="/reservation" class="btns">
        <img src="Icons/calender.svg" alt="" /> Easy Online Booking
      </a>
      <a routerLink="/reservation" class="btns">
        <img src="Icons/camera.svg" /> Appointment Services
      </a>
    </div>

    <div class="buttons-container">
      <a routerLink="/about" class="btns see-more-btn">See More</a>
      <a routerLink="/reservation" class="btns reservation-btn">Reservation</a>
    </div>
  </div>
</section>
