<footer class="footer">
  <div class="container">
    <div class="left-container">
      <div class="footer-logo">
        <img src="Logos/footer-logo.svg" alt="Spinal Clinic Logo" />
        <p>
          We will always give our patients the best in order to get the best
          experience.
        </p>
      </div>
      <div class="social-media">
        <p>Follow us on social:</p>
        <ul>
          <li>
            <a routerLink="about"><img src="Icons/facebook.svg" alt="" /></a>
          </li>
          <li>
            <a routerLink="about"><img src="Icons/twitter.svg" alt="" /></a>
          </li>
          <li>
            <a routerLink="about"><img src="Icons/instagram.svg" alt="" /></a>
          </li>
          <li>
            <a routerLink="about"><img src="Icons/youtube.svg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h3>Treatment</h3>
        <ul>
          <li><a href="#">contact us</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">reservation</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Jobs</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Policies</h3>
        <ul>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Licenses</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
